@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header {
    display: flex;
    justify-content: center;
    background: #C89C38;
}

.header-text {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-left: 20px;

    color: #000000;
}

.header .logo-image {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 56px;
}