<app-header></app-header>
<section>
    <div class="center">
        <div class="subtext">
            <span>
                Um universo repleto de histórias!
            </span>
        </div>
        <div class="image">
            <app-image-slider [slides]="slides"></app-image-slider>
        </div>
        <div class="button">
            <button class="login-button">
                Login
            </button>
        </div>
        <div class="button">
            <a class="register-button">
                Cadastrar
            </a>
        </div>
    </div>
</section>