<div class="slider">
    <div class="container">
        <div class="leftArrow" (click)="backPicture()">
            <i class="material-icons">
                arrow_back_ios
            </i>
        </div>
        <div 
            class="slide" 
            [ngStyle]="{'background-image': getImageFirstContainer()}">
        </div>
        <div 
            class="slide" 
            [ngStyle]="{'background-image': getImageSecondContainer()}">
        </div>
        <div 
            class="slide" 
            [ngStyle]="{'background-image': getImageThirdContainer()}">
        </div>
        <div class="rightArrow" (click)="nextPicture()">
            <i class="material-icons">
                arrow_forward_ios
            </i>
        </div>
    </div>
</div>